## editors
/.idea
/.vscode

## npm
/node_modules/
/npm-debug.log

# build
/dist
/tmp
/out-tsc
/bazel-out


# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings


storybook-static
custom-elements.json
coverage
